@tailwind base;
@tailwind components;
@tailwind utilities;

.links {
  @apply font-semibold text-gray-800 hover:text-blue-600 transition-colors duration-300;
}

.gradient-1 {
  background: linear-gradient(90deg, #2255CE 54%, #29C9FF 100%);
}

.gradient-1-text {
  background: linear-gradient(90deg, #2255CE 54%, #29C9FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.white-background {
  background-color: #f7f8fa;
}

.blue-background {
  background-color: #243e8e;
}

.blue-text {
  color: #243e8e;
}

.hover\:blue-text:hover {
  color: #243e8e; 
}

.black-text {
  color: #2C3454;
}
